.about .container {
    display: flex;
}
.about-right__title {
    margin-bottom: 20px;
    font-size: 28px;
    @media screen and (min-width: 1200px) { 
       font-size: 42px;
    }
}


.about-list {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px){
        display: flex;
        margin-right: 64px;
    }
}
.about-list__item {
    &:not(:last-child) {
            margin-bottom: 30px;
        }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:not(:last-child) {
            margin-bottom: unset
        }
    }
    
}

.about-right__suptext {
    margin-bottom: 20px;
}



.about-right__subtext {
    margin-bottom: 20px;
}

.about-right__text {
    margin-bottom: 40px;
    max-width: 500px;
}