
.btn {
    width: 160px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    /* color: #ff6c00; */
    background-color: transparent;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.btn_color_dark {
    color: #303030;
}

.btn_color_white {
    color: var(--header-text-color);
}