.subtext {
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    @media screen and (min-width: 1200px) { 
font-size: 18px;
    }
}

.subtext_color_gray {
    color: #9da4bd;
}

.subtext_color_dark-gray {
    color: #555555;
}