.suptext {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        width: 60px;
        height: 1px;
        background-color: var(--pre-title-color);
        margin-right: 20px;
    }
}


.suptext_color_gray {
    color: var(--pre-title-color);
    ::before {
        background-color: rgba(157, 164, 189, 0.6);
    }
}


.suptext_color_dark {
    color: #303030;
    &::before {
        background-color: #303030;
    }
}

